{% extends 'base.html.twig' %}

{% block body %}
    <div class="row" ng-controller="orderlineController">
        {% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
        <div ng-init="getCurrentStatus('{{ currentPath }}')" class="[[statusCmd]]">
            {#<input type="button"  ng-click="getAll()" value="Orderline" />#}
            <div class = "panel-heading">
                {#{% if orderLines %}#}
                <a href="{{ path('orderline_index') }}" class="panel-title pull-right">
                    <i class="glyphicon glyphicon-resize-small"></i>
                </a>
                    <p ng-if="statut == 'arrive'" class="panel-title">Nouvelles commandes ({{ orderLines.getTotalItemCount }})</p>
                    <p ng-if="statut !== 'arrive'" class="panel-title">Commandes [[statut]]s ({{ orderLines.getTotalItemCount }})</p>
            </div>
            <div class="panel-body" >
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Reference</th>
                            <th>Numero commande</th>
                            <th>Designation</th>
                            <th class="hidden-xs hidden-md">Address livraison</th>
                            <th>Quantite</th>
                            <th class="hidden-xs hidden-md">Prixunitaire</th>
                            <th>Prixttc</th>
                            <th class="hidden-xs hidden-md">statut</th>
                        </tr>
                        </thead>
                        <tbody>
                       {% for orderLine in orderLines %}
                            <tr>
                                {#<td><a href="{{ path('orderline_show', { 'id': orderLine.id }) }}">{{ orderLine.id }}</a></td>#}
                                <td>
                                    <a href="#">{{  orderLine.reference }}</a>
                                </td>
                                <td>{{  orderLine.numeroCommande }}</td>
                                <td>{{  orderLine.designation }}</td>
                                <td class="hidden-xs hidden-md">{{  orderLine.addressLivraison }}</td>
                                {#<td>{% if orderLine.dateFacturation %}{{ orderLine.dateFacturation|date('d-m-Y') }}{% endif %}</td>#}
                                <td>{{  orderLine.quantite }}</td>
                                <td class="hidden-xs hidden-md">{{  orderLine.prixUnitaire }}</td>
                                <td>{{  orderLine.prixTTC }}</td>
                                <td class="hidden-xs hidden-md">{{  orderLine.statut }}</td>
                                {#<td>#}
                                {#<a class="btn btn-default" href="{{ path('orderline_show', { 'id': orderLine.id }) }}">show</a> |#}
                                {#<a class="btn btn-success" href="{{ path('orderline_edit', { 'id': orderLine.id }) }}">edit</a>#}
                                {#</td>#}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Modal -->

            </div>
        </div>

        {#<ul >#}
            {#<li>[[orderLine.reference]]</li>#}
        {#</ul>#}
    </div>
    <div class="navigation text-center">
        {{ knp_pagination_render(orderLines) }}
    </div>


{% endblock %}
