{% extends 'base.html.twig' %}

{% block body %}
    <div ng-controller="orderlineController">
        <div class="row" ng-init="getNumberComandes()">
            <div class="col-xs-12 col-md-12 col-lg-6">
                <div class="panel panel-info">
                    <div class="panel-heading">Nombre de commande par statut</div>
                    <div class="panel-body text-center">
                        <fusioncharts
                                type="column2d"
                                datasource="[[orderlineDataSource]]"
                        ></fusioncharts>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-6">
                <div class="panel panel-info">
                    <div class="panel-heading">Nombre de commande par statut</div>
                    <div class="panel-body text-center">
                        <fusioncharts
                                type="pie3d"
                                datasource="[[orderlineDataSourcePie]]"
                        ></fusioncharts>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            {% set nbArr = 0 %}
            {% set nbPre = 0 %}
            {% set nbEnv = 0 %}
            {% set nbLiv = 0 %}
            {% for nb in nombre %}
                {% if(nb['statut'] and nb['statut'] == 'arrive')  %}
                    {% set nbArr = nb[1] %}
                {% endif %}
                {% if(nb['statut'] and nb['statut'] == 'preparee')  %}
                    {% set nbPre = nb[1] %}
                {% endif %}
                {% if(nb['statut'] and nb['statut'] == 'envoyee')  %}
                    {% set nbEnv = nb[1] %}
                {% endif %}
                {% if(nb['statut'] and nb['statut'] == 'livree')  %}
                    {% set nbLiv = nb[1] %}
                {% endif %}
            {% endfor %}
            {% if is_granted('ROLE_GESCOM') %}
            <div class="col-xs-12 col-lg-6 col-md-12">
                <div class = "panel panel-primary">
                    <div class = "panel-heading">
                        <a href="{{ path("orderline_all") }}" class="panel-title pull-right"><i class="glyphicon glyphicon-resize-full"></i></a>
                        <p class = "panel-title">Commandes en arrivée ({{ nbArr }}) </p>
                    </div>

                    <div class = "panel-body table-responsive">
                        {% if orderLines %}
                        <table class="table table-hover table-condensed">
                            <thead>
                            <tr>
                                <th>Reference</th>
                                <th>Numero commande</th>
                                <th>Designation</th>
                                <th>Date création</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for orderLine in orderLines %}
                                <tr>
                                    {#<td><a href="{{ path('orderline_show', { 'id': orderLine.id }) }}">{{ orderLine.id }}</a></td>#}
                                    <td><a href="#" data-toggle="modal" data-target="#myModal{{ orderLine.id}}">{{ orderLine.reference }}</a>
                                        <div id="myModal{{ orderLine.id}}" class="modal fade" role="dialog">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">{{  orderLine.numeroCommande }}</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <ur class="list-group">
                                                            <li class="list-group-item">Reference : <span class="badge">{{  orderLine.reference }}</span></li>
                                                            <li class="list-group-item">Numéro commande : <span class="badge">{{  orderLine.numeroCommande }}</span></li>
                                                            <li class="list-group-item">Désignation : <span class="badge">{{  orderLine.designation }}</span></li>
                                                            <li class="list-group-item">Adresse de livraison : <span class="badge">{{  orderLine.addressLivraison }}</span></li>
                                                            <li class="list-group-item">Quantité: <span class="badge">{{  orderLine.quantite }}</span></li>
                                                            <li class="list-group-item">Prix unitaire : <span class="badge">{{  orderLine.prixUnitaire }}</span></li>
                                                            <li class="list-group-item">Prix TTC : <span class="badge">{{  orderLine.prixTTC }}</span></li>
                                                            <li class="list-group-item">Statut : <span class="badge">{{  orderLine.statut }}</span></li>
                                                        </ur>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" ng-click="setStatus('{{ orderLine.id }}')" class="btn btn-success pull-left" >Preparer</button>
                                                        <button type="button" id="closepop" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </td>
                                    <td>{{ orderLine.numeroCommande }}</td>
                                    <td>{{ orderLine.designation }}</td>
                                    <td>{% if orderLine.dateFacturation %}{{ orderLine.dateFacturation|date('d-m-Y') }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if is_granted('ROLE_GESCOM') %}
                <div class="col-xs-12 col-lg-6 col-md-12">
                    <div class = "panel panel-danger">
                        <div class = "panel-heading">
                            <a href="{{ path("orderline_all") }}"  class="panel-title pull-right"><i class="glyphicon glyphicon-resize-full"></i></a>
                            <h3 class = "panel-title">Commandes préparées ({{ nbPre }})</h3>
                        </div>

                        <div class = "panel-body table-responsive">
                            {% if orderLinesP %}
                                <table class="table table-hover table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Reference</th>
                                        <th>Numero commande</th>
                                        <th>Designation</th>
                                        <th>Date de préparation</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for orderLine in orderLinesP %}
                                        <tr>
                                            {#<td><a href="{{ path('orderline_show', { 'id': orderLine.id }) }}">{{ orderLine.id }}</a></td>#}
                                            <td><a href="#" data-toggle="modal" data-target="#myModal{{ orderLine.id}}">{{ orderLine.reference }}</a>
                                                <div id="myModal{{ orderLine.id}}" class="modal fade" role="dialog">
                                                    <div class="modal-dialog">

                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title">{{  orderLine.numeroCommande }}</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <ur class="list-group">
                                                                    <li class="list-group-item">Reference : <span class="badge">{{  orderLine.reference }}</span></li>
                                                                    <li class="list-group-item">Numéro commande : <span class="badge">{{  orderLine.numeroCommande }}</span></li>
                                                                    <li class="list-group-item">Désignation : <span class="badge">{{  orderLine.designation }}</span></li>
                                                                    <li class="list-group-item">Adresse de livraison : <span class="badge">{{  orderLine.addressLivraison }}</span></li>
                                                                    <li class="list-group-item">Quantité: <span class="badge">{{  orderLine.quantite }}</span></li>
                                                                    <li class="list-group-item">Prix unitaire : <span class="badge">{{  orderLine.prixUnitaire }}</span></li>
                                                                    <li class="list-group-item">Prix TTC : <span class="badge">{{  orderLine.prixTTC }}</span></li>
                                                                    <li class="list-group-item">Statut : <span class="badge">{{  orderLine.statut }}</span></li>
                                                                </ur>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" ng-click="setStatus('{{ orderLine.id }}')" class="btn btn-success pull-left" >Envoyer</button>
                                                                <button type="button" id="closepop" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </td>
                                            <td>{{ orderLine.numeroCommande }}</td>
                                            <td>{{ orderLine.designation }}</td>
                                            <td>{% if orderLine.dateFacturation %}{{ orderLine.dateFacturation|date('d-m-Y') }}{% endif %}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if is_granted('ROLE_GESCOM') %}
                <div class="col-xs-12 col-lg-6 col-md-12">
                        <div class = "panel panel-warning">
                        <div class = "panel-heading">
                            <a href="{{ path("orderline_all") }}"  class="panel-title pull-right"><i class="glyphicon glyphicon-resize-full"></i></a>
                            <h3 class = "panel-title">Commandes envoyées ({{ nbEnv }})</h3>
                        </div>

                        <div class = "panel-body table-responsive">
                            {% if orderLinesE %}
                                <table class="table table-hover table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Reference</th>
                                        <th>Numero commande</th>
                                        <th>Designation</th>
                                        <th>Date d'envoie</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for orderLine in orderLinesE %}
                                        <tr>
                                            {#<td><a href="{{ path('orderline_show', { 'id': orderLine.id }) }}">{{ orderLine.id }}</a></td>#}
                                            <td><a href="#" data-toggle="modal" data-target="#myModal{{ orderLine.id}}">{{ orderLine.reference }}</a>
                                                <div id="myModal{{ orderLine.id}}" class="modal fade" role="dialog">
                                                    <div class="modal-dialog">

                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title">{{  orderLine.numeroCommande }}</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <ur class="list-group">
                                                                    <li class="list-group-item">Reference : <span class="badge">{{  orderLine.reference }}</span></li>
                                                                    <li class="list-group-item">Numéro commande : <span class="badge">{{  orderLine.numeroCommande }}</span></li>
                                                                    <li class="list-group-item">Désignation : <span class="badge">{{  orderLine.designation }}</span></li>
                                                                    <li class="list-group-item">Adresse de livraison : <span class="badge">{{  orderLine.addressLivraison }}</span></li>
                                                                    <li class="list-group-item">Quantité: <span class="badge">{{  orderLine.quantite }}</span></li>
                                                                    <li class="list-group-item">Prix unitaire : <span class="badge">{{  orderLine.prixUnitaire }}</span></li>
                                                                    <li class="list-group-item">Prix TTC : <span class="badge">{{  orderLine.prixTTC }}</span></li>
                                                                    <li class="list-group-item">Statut : <span class="badge">{{  orderLine.statut }}</span></li>
                                                                </ur>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" ng-click="setStatus('{{ orderLine.id }}')" class="btn btn-success pull-left" >Livrer</button>
                                                                <button type="button" id="closepop" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </td>
                                            <td>{{ orderLine.numeroCommande }}</td>
                                            <td>{{ orderLine.designation }}</td>
                                            <td>{% if orderLine.dateFacturation %}{{ orderLine.dateFacturation|date('d-m-Y') }}{% endif %}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if is_granted('ROLE_SUPCOM') %}
            <div class="col-xs-12 col-lg-6 col-md-12">
                <div class = "panel panel-success">
                    <div class = "panel-heading">
                        <a href="{{ path("orderline_all") }}" class="panel-title pull-right"><i class="glyphicon glyphicon-resize-full"></i></a>
                        <h3 class = "panel-title">Commandes livrées ({{ nbLiv }})</h3>
                    </div>
                    <div class = "panel-body table-responsive">
                        {% if orderLinesL %}
                        <table class="table table-hover table-condensed">
                            <thead>
                            <tr>
                                <th>Reference</th>
                                <th>Numero commande</th>
                                <th>Designation</th>
                                <th>Date de livraison</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for orderLine in orderLinesL %}
                                <tr>
                                    {#<td><a href="{{ path('orderline_show', { 'id': orderLine.id }) }}">{{ orderLine.id }}</a></td>#}
                                    <td><a href="#">{{ orderLine.reference }}</a></td>
                                    <td>{{ orderLine.numeroCommande }}</td>
                                    <td>{{ orderLine.designation }}</td>
                                    <td>{% if orderLine.dateFacturation %}{{ orderLine.dateFacturation|date('d-m-Y') }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
    </div>

    </div>



    {#<table>#}
        {#<thead>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<th>Reference</th>#}
                {#<th>Addresslivraison</th>#}
                {#<th>Designation</th>#}
                {#<th>Quantite</th>#}
                {#<th>Prixunitaire</th>#}
                {#<th>Tva</th>#}
                {#<th>Prixttc</th>#}
                {#<th>Fraislivraison</th>#}
                {#<th>Numerocommande</th>#}
                {#<th>Datefacturation</th>#}
                {#<th>Numerofacture</th>#}
                {#<th>Devise</th>#}
                {#<th>Email</th>#}
                {#<th>statut</th>#}
                {#<th>Actions</th>#}
            {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for orderLine in orderLines %}#}
            {#<tr>#}
                {#<td><a href="{{ path('orderline_show', { 'id': orderLine.id }) }}">{{ orderLine.id }}</a></td>#}
                {#<td>{{ orderLine.reference }}</td>#}
                {#<td>{{ orderLine.addressLivraison }}</td>#}
                {#<td>{{ orderLine.designation }}</td>#}
                {#<td>{{ orderLine.quantite }}</td>#}
                {#<td>{{ orderLine.prixUnitaire }}</td>#}
                {#<td>{{ orderLine.tVA }}</td>#}
                {#<td>{{ orderLine.prixTTC }}</td>#}
                {#<td>{{ orderLine.fraisLivraison }}</td>#}
                {#<td>{{ orderLine.numeroCommande }}</td>#}
                {#<td>{% if orderLine.dateFacturation %}{{ orderLine.dateFacturation|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                {#<td>{{ orderLine.numeroFacture }}</td>#}
                {#<td>{{ orderLine.devise }}</td>#}
                {#<td>{{ orderLine.email }}</td>#}
                {#<td>{{ orderLine.statut }}</td>#}
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('orderline_show', { 'id': orderLine.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('orderline_edit', { 'id': orderLine.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('orderline_new') }}">Create a new orderLine</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
