{% extends 'base.html.twig' %}

{% block body %}
    <div ng-controller="orderlineController">
        <div class="row">
            {% if is_granted('ROLE_GESCOM') %}
            <div class="col-xs-12 col-lg-6 col-md-12">
                <div class = "panel panel-primary">
                    <div class = "panel-heading">
                        <a href="{{ path("orderline_all" , {'statut' : 'arrive'}) }}" class="panel-title pull-right"><i class="glyphicon glyphicon-resize-full"></i></a>
                        <p class = "panel-title">Commande en arrivée</p>
                    </div>

                    <div class = "panel-body table-responsive">
                        {% if orderLines %}
                        <table class="table table-hover table-condensed">
                            <thead>
                            <tr>
                                <th>Reference</th>
                                <th>Numero commande</th>
                                <th>Designation</th>
                                <th>Date facturation</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for orderLine in orderLines %}
                                <tr>
                                    {#<td><a href="{{ path('orderline_show', { 'id': orderLine.id }) }}">{{ orderLine.id }}</a></td>#}
                                    <td>{{ orderLine.reference }}</td>
                                    <td>{{ orderLine.numeroCommande }}</td>
                                    <td>{{ orderLine.designation }}</td>
                                    <td>{% if orderLine.dateFacturation %}{{ orderLine.dateFacturation|date('d-m-Y') }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if is_granted('ROLE_GESCOM') %}
                <div class="col-xs-12 col-lg-6 col-md-12">
                    <div class = "panel panel-danger">
                        <div class = "panel-heading">
                            <a href="{{ path("orderline_all", {'statut' : 'preparee'}) }}"  class="panel-title pull-right"><i class="glyphicon glyphicon-resize-full"></i></a>
                            <h3 class = "panel-title">Commande préparée</h3>
                        </div>

                        <div class = "panel-body table-responsive">
                            {% if orderLinesP %}
                                <table class="table table-hover table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Reference</th>
                                        <th>Numero commande</th>
                                        <th>Designation</th>
                                        <th>Date facturation</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for orderLine in orderLinesP %}
                                        <tr>
                                            {#<td><a href="{{ path('orderline_show', { 'id': orderLine.id }) }}">{{ orderLine.id }}</a></td>#}
                                            <td>{{ orderLine.reference }}</td>
                                            <td>{{ orderLine.numeroCommande }}</td>
                                            <td>{{ orderLine.designation }}</td>
                                            <td>{% if orderLine.dateFacturation %}{{ orderLine.dateFacturation|date('d-m-Y') }}{% endif %}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if is_granted('ROLE_GESCOM') %}
                <div class="col-xs-12 col-lg-6 col-md-12">
                    <div class = "panel panel-warning">
                        <div class = "panel-heading">
                            <a href="{{ path("orderline_all", {'statut' : 'envoyee'}) }}"  class="panel-title pull-right"><i class="glyphicon glyphicon-resize-full"></i></a>
                            <h3 class = "panel-title">Commande envoyée</h3>
                        </div>

                        <div class = "panel-body table-responsive">
                            {% if orderLinesE %}
                                <table class="table table-hover table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Reference</th>
                                        <th>Numero commande</th>
                                        <th>Designation</th>
                                        <th>Date facturation</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for orderLine in orderLinesE %}
                                        <tr>
                                            {#<td><a href="{{ path('orderline_show', { 'id': orderLine.id }) }}">{{ orderLine.id }}</a></td>#}
                                            <td>{{ orderLine.reference }}</td>
                                            <td>{{ orderLine.numeroCommande }}</td>
                                            <td>{{ orderLine.designation }}</td>
                                            <td>{% if orderLine.dateFacturation %}{{ orderLine.dateFacturation|date('d-m-Y') }}{% endif %}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if is_granted('ROLE_SUPCOM') %}
            <div class="col-xs-12 col-lg-6 col-md-12">
                <div class = "panel panel-success">
                    <div class = "panel-heading">
                        <a href="{{ path("orderline_all", {'statut' : 'livree'}) }}" class="panel-title pull-right"><i class="glyphicon glyphicon-resize-full"></i></a>
                        <h3 class = "panel-title">Commande livrée</h3>
                    </div>
                    <div class = "panel-body table-responsive">
                        {% if orderLinesL %}
                        <table class="table table-hover table-condensed">
                            <thead>
                            <tr>
                                <th>Reference</th>
                                <th>Numero commande</th>
                                <th>Designation</th>
                                <th>Date facturation</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for orderLine in orderLinesL %}
                                <tr>
                                    {#<td><a href="{{ path('orderline_show', { 'id': orderLine.id }) }}">{{ orderLine.id }}</a></td>#}
                                    <td>{{ orderLine.reference }}</td>
                                    <td>{{ orderLine.numeroCommande }}</td>
                                    <td>{{ orderLine.designation }}</td>
                                    <td>{% if orderLine.dateFacturation %}{{ orderLine.dateFacturation|date('d-m-Y') }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}


    </div>



    {#<table>#}
        {#<thead>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<th>Reference</th>#}
                {#<th>Addresslivraison</th>#}
                {#<th>Designation</th>#}
                {#<th>Quantite</th>#}
                {#<th>Prixunitaire</th>#}
                {#<th>Tva</th>#}
                {#<th>Prixttc</th>#}
                {#<th>Fraislivraison</th>#}
                {#<th>Numerocommande</th>#}
                {#<th>Datefacturation</th>#}
                {#<th>Numerofacture</th>#}
                {#<th>Devise</th>#}
                {#<th>Email</th>#}
                {#<th>statut</th>#}
                {#<th>Actions</th>#}
            {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for orderLine in orderLines %}#}
            {#<tr>#}
                {#<td><a href="{{ path('orderline_show', { 'id': orderLine.id }) }}">{{ orderLine.id }}</a></td>#}
                {#<td>{{ orderLine.reference }}</td>#}
                {#<td>{{ orderLine.addressLivraison }}</td>#}
                {#<td>{{ orderLine.designation }}</td>#}
                {#<td>{{ orderLine.quantite }}</td>#}
                {#<td>{{ orderLine.prixUnitaire }}</td>#}
                {#<td>{{ orderLine.tVA }}</td>#}
                {#<td>{{ orderLine.prixTTC }}</td>#}
                {#<td>{{ orderLine.fraisLivraison }}</td>#}
                {#<td>{{ orderLine.numeroCommande }}</td>#}
                {#<td>{% if orderLine.dateFacturation %}{{ orderLine.dateFacturation|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                {#<td>{{ orderLine.numeroFacture }}</td>#}
                {#<td>{{ orderLine.devise }}</td>#}
                {#<td>{{ orderLine.email }}</td>#}
                {#<td>{{ orderLine.statut }}</td>#}
                {#<td>#}
                    {#<ul>#}
                        {#<li>#}
                            {#<a href="{{ path('orderline_show', { 'id': orderLine.id }) }}">show</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('orderline_edit', { 'id': orderLine.id }) }}">edit</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('orderline_new') }}">Create a new orderLine</a>#}
        {#</li>#}
    {#</ul>#}
{% endblock %}
