{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-default" href="{{ path('orderline_index') }}">Liste</a>
    <h1>Création d'une commande</h1>
    <div class="row">
        {{ form_start(form, {'method': 'POST'}) }}
        <div class="col-xs-12 col-md-6 col-lg-6">
            {{ form_label(form.reference,'Réference') }}
            {{ form_widget(form.reference) }}

            {{ form_label(form.numeroCommande,'Numéro commande') }}
            {{ form_widget(form.numeroCommande) }}

            {{ form_label(form.numeroFacture,'Numéro facture') }}
            {{ form_widget(form.numeroFacture) }}

            {{ form_label(form.addressLivraison, 'Adresse de livraison') }}
            {{ form_widget(form.addressLivraison) }}

            {{ form_label(form.designation,'Désignation') }}
            {{ form_widget(form.designation) }}

            {{ form_label(form.prixUnitaire,'Prix unitaire') }}
            {{ form_widget(form.prixUnitaire) }}

            {{ form_label(form.quantite,'Quantité') }}
            {{ form_widget(form.quantite) }}
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
            {{ form_label(form.prixTTC, 'Prix TTC') }}
            {{ form_widget(form.prixTTC) }}

            {{ form_label(form.tVA,'TVA') }}
            {{ form_widget(form.tVA) }}

            {{ form_label(form.fraisLivraison,'Fraix de livraison') }}
            {{ form_widget(form.fraisLivraison) }}

            {{ form_label(form.dateFacturation,'Date de facturation') }}
            {{ form_widget(form.dateFacturation) }}

            {{ form_label(form.devise, 'Devise') }}
            {{ form_widget(form.devise) }}

            {{ form_label(form.email, 'Email') }}
            {{ form_widget(form.email) }}

            {{ form_label(form.statut, 'Statut') }}
            {{ form_widget(form.statut) }}
        </div>
        <input class="btn btn-success" type="submit" value="Créer" style="margin-top: 10px; margin-left:15px" />

        {{ form_end(form) }}
    </div>

{% endblock %}
